body {
  margin: 0;

  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;

  background: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* Container======
========================== */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header=======
=========================== */

.header {
  width: 100%;
  height: 100px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  
}

.header__inner {
  padding: 35px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #515369;
}

.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  margin-left: 50px;
color: #fff;
text-decoration: none;
opacity: .75;

transition: opacity .1s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

/* Intro============
============================ */

.intro {
  height: 750px;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #31344e url(../img/intro-bg.jpg) center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;

  text-align: center;
}

.intro__title {
  margin: 0 0 30px;

  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;

  text-transform: uppercase;
}

.intro__subtitle {
  margin-bottom: 60px;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

/* Button=========
============================ */

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;

  border-radius: 2px;
  border: none;

  font-size: 13px;
  font-weight: 300;
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: background .2s linear;
}

.btn--red {
  background: #e85545;
}

.btn--red:hover {
  background: #fc402b;
}

/* Features==============
================================= */

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features__icon {
  margin-bottom: 25px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: #2d3033;
  margin-bottom: 20px;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}

/* works */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;

  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  width: 100%;
  height: 100%;

  background: rgba(232, 69, 69, .9);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity .2s linear;
}

.works__title {
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.works__text {
  font-size: 14px;
  color: #fff;
}

/* Team */
.team {
  margin: 100px 0 70px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 1 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;

  margin-bottom: 20px;
}

.team__name {
  margin-bottom: 8px;

  font-size: 22px;
  color: #2d3033;
}

.team__prof {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 13px;
  color: #e85545;
  
}

.team__text {
  margin-bottom: 20px;

  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/* Social ==========
====================*/
.social {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  margin-right: 4px;

  border: 1px solid #e8ecee;
}